.description{
    background: #9A52DF;
    position: relative;
    height: 900px;
    padding: 4rem 4rem;
    .description__container{
        h1{
            text-align: center;
            color: white;
        }
    .desc__body{
        display: flex;
        margin: 10rem 6rem 6rem 0;
        align-content: flex-start;
        .howto{
            color: white;
        }
    }
    }
}

@include respond(largeScreen){
    .description{
        background: url("../../assets/purple-rect.svg") no-repeat top center/cover;
    }
}