.form__container {
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
      #ffffff;
    border-radius: 10px;
    padding: 3rem 3rem;
    box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    width: 450px;
    position: absolute;
    right: 63px;
    bottom: 12px;
    p{
        color: #605f6c;
    }
  }
  
  .head__text {
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .form__input {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  input {
    margin-bottom: 1rem;
    color: #605f6c;
  }
  
  input[type="email"] {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #5437d3;
    border-radius: 8px;
    padding: 15px;
    transition: 0.3s;
    font-weight: bold;
  }
  
  input[type="email"]:focus {
    border-color: #5437d3 !important;
  }
  
  .form__input input[type="email"] {
    padding-left: 40px;
  }
  input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #f1eeff;
    border-radius: 8px;
    padding: 15px;
    transition: 0.3s;
    font-weight: bold;
  }
  
  input[type="password"]:focus {
    border-color: #5437d3 !important;
  }
  
  .form__input input[type="password"] {
    padding-left: 40px;
  }
  
  .form__input .mail__icon {
    position: absolute;
    top: 11px;
    left: 0;
    padding: 6px 9px;
  }
  .form__input .lock__icon {
    position: absolute;
    top: 83px;
    left: 0;
    padding: 6px 9px;
  }
  .form__input .eye__icon {
    position: absolute;
    top: 83px;
    right: 12px;
    padding: 6px 9px;
  }
  
  .forget {
    text-align: right;
    margin-top: 0;
  }
  
  .signin__button {
    background: #5437d3;
    width: 100%;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 1rem 0;
    font-weight: bold;
    box-shadow: 0px 14px 24px rgba(84, 55, 211, 0.1);
  }
  
  .signup {
      text-align: center;
      margin: 1rem 0;
      span{
        color: #5437d3;
      }
  }
  