.footer{
    padding: 0 4rem;
    background: rgba(85, 55, 211, 0.21);
    margin: 3rem 0 0 0 !important;
    .footer__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .first__section{
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 5rem;
            justify-content: center;
            align-items: center;
            .footer__image{
                position: absolute;
                top:10%;
                left: 55%;
                transform: translate(-50%, -50%);
                img{
                    width: 70%;
                }
            }
            .footer__text{
                   margin-top: 15rem; 
                h1{
                    color: #5537D3;
                    span{
                        color: #9A52DF;
                    }
                }

            }
        .footer__appstore__logo{
            display: flex;
            flex-direction: column;
            .appstore{
                width: 150px;
                margin-top: 1rem;
            }
        }
        }
        .second__section{
           
            h1{
                color: #5537D3;
                font-size: 2.5rem;
                margin: 0 6rem 1rem 6rem;
                text-align: center;
            }
            .footer__links{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                ul{ 
                    margin-right: 6rem;
                    li{
                        a{
                            color: $text-color;
                        }
                    }
                }
            }
        }

    }
}

@include respond(largeScreen){
    .footer{
        background: url("../../assets/footer-bg.svg") no-repeat top center/cover;
        .footer__container{
            .first__section{
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-end;
                margin-top: 10rem;
                margin-bottom: 5rem;
                .footer__image{
                    left: 145px !important;
                    top: -25px !important;
                    img{
                        width: 80%;
                    }
                }
                .footer__text{
                    padding: 0 4rem;
                    margin-left: 17rem;
                    margin-top: 0;  
                }
                .footer__appstore__logo{
                    flex-direction: column;
                }
            }
            .second__section{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 3rem 0;
                margin: 3rem 0;
            }
        }
    }
}