.navbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    .navbar-brand{
        font-weight: 800 !important;
        color: white;
        img{
            width: 30%;
            margin-right: 1rem;
        }
    }
    .navbar-collapse{
        z-index: 20;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 50px;
    .navbar-nav{
        padding-top: 1rem;
        padding-bottom: 1rem;
        .nav-link{
            margin: 0 1.5rem;
            color: white;
        }
        button{
            background-color: white !important;
            color: black !important;
            padding: 0.5rem 1rem;
            box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.13);
            &:hover{
                background-color: white !important;
                color: black !important;
            }
        }
    }
    }
    
}

@include respond(largeScreen){
    .navbar-collapse{
        top: 10px !important;
    }
}