body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container{
    width: 100% !important;
    max-width: 1240px !important;
    margin: 0 auto !important;
    padding: 0 16px !important;
}

img{
    margin:0;
    padding: 0;
}
section{
    margin: 3rem 0 !important; 
}

h1, h2, h3, h4, h5, h6{
    font-family: $header-font;  
}

p, a{
    font-family: $para-font;
}