@import "./variables.scss";
@import "./mixins.scss";
@import "./global.scss";

// 
@import "./home/__navbar.scss";
@import "./home/__banner.scss";
@import "./home/__services.scss";
@import "./home/__partners.scss";  
@import "./home/__footer.scss";  
@import "./home/__photogrid.scss";  
@import "./home/_description.scss";  