@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

$main-purple-button: #9A52DF;
$header-font: 'Catamaran', sans-serif;
$para-font: 'Merriweather Sans', sans-serif;
$text-color: #3f3f3f;
